page-seguir {
    .avatar{
        border: 0.5px solid;
        border-color: #FF5F5F;
    }

    .transparente{
        background-color: rgba(255, 255, 255, 0);
        background: rgba(0, 0, 0, 0);
    }
}
