// http://ionicframework.com/docs/theming/
.avatarperfil{
    width:100% !important; 
    height : 100% !important;
    min-width: 100px;
    min-height: 100px;  
    max-width: 100px !important;  
    max-height: 100px !important;
    border: 0.5px solid;
    border-color: darkkhaki;
    margin: auto;
} 

.item-content{
    background-image: url(../assets/imgs/portada.jpg);
}

.col{
    border-bottom: 0.2px solid white;
}

.transparent {
    background-color: transparent !important;
    color: white;
}



// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
